<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nl.ulso.vps</string>
	<key>category</key>
	<string>Mine</string>
	<key>connections</key>
	<dict>
		<key>069AA5A0-B5B4-4C2C-A41C-F6597202937B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38C9FA7B-DC38-4F1C-A1F5-D51CF9964759</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0ED34B50-BB28-4DAF-83CF-6431B7340FD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CF126FC-D8C1-4E36-A9BD-C398801C6E27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>141255DE-26A7-4A0A-91D9-4D46C4924504</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EA1C2CE-E59A-4003-A62F-279C5E0E9B87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14C7E1CD-8B7B-4BAF-B0E8-A69297B603A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6815E6-601D-4507-8911-DB4C68D96DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19A1C1A7-8B05-44A8-8700-C87E81B7ECB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E32A5968-A53E-49A6-805D-9CA05BE60BDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6F1E821E-BF71-4D08-8D82-C0CD10D138CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>14A29F98-5C82-4067-8CA8-1579021C90F2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E6815E6-601D-4507-8911-DB4C68D96DBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>492E4749-88F2-46BC-A846-A6EF34121962</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1EA1C2CE-E59A-4003-A62F-279C5E0E9B87</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88E6859F-DDAF-4711-95D0-FB44354A461D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22D4F09F-F01A-478C-BE58-D38C10C03D5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C7E1CD-8B7B-4BAF-B0E8-A69297B603A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25862486-DB87-4D99-8A2F-270DF2ED344B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25F37FFD-0AC5-47B1-98CC-0526E2732384</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>25F37FFD-0AC5-47B1-98CC-0526E2732384</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC6B055A-D686-4E8F-93FA-3F2756565FEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>327408B1-4CBC-4215-B2C0-C3FEB8D7BA8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DA06A07-6581-4E7C-BED0-32CC97132209</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38C9FA7B-DC38-4F1C-A1F5-D51CF9964759</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19A1C1A7-8B05-44A8-8700-C87E81B7ECB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6875C4C0-6D56-45D4-8E13-FF83B9F33944</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22D4F09F-F01A-478C-BE58-D38C10C03D5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CF126FC-D8C1-4E36-A9BD-C398801C6E27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EA1C2CE-E59A-4003-A62F-279C5E0E9B87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88E6859F-DDAF-4711-95D0-FB44354A461D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F1E821E-BF71-4D08-8D82-C0CD10D138CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A4A88991-1E1B-4681-AFD9-8A4B6CB6063D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D47A3F59-9ECA-48D0-9A61-7B559E9EA7A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B07D568-E3E7-4988-BA11-0E36C7BFDD1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>327408B1-4CBC-4215-B2C0-C3FEB8D7BA8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B78E256-3CB5-40FD-A40A-43436919DCC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38C9FA7B-DC38-4F1C-A1F5-D51CF9964759</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DA06A07-6581-4E7C-BED0-32CC97132209</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8C8F407-2821-4A4E-902E-3D6B58648057</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F77D1C9-C5B7-438A-BAFF-6FDE7BECFE38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>069AA5A0-B5B4-4C2C-A41C-F6597202937B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ADE417A6-3768-436F-B3B6-181614AA540D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>141255DE-26A7-4A0A-91D9-4D46C4924504</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B1C51158-7234-43A3-94A0-8006F4388F5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>492E4749-88F2-46BC-A846-A6EF34121962</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8F0AC10-7E4E-4E4D-B7B6-10052FBC6122</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B07D568-E3E7-4988-BA11-0E36C7BFDD1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA31C553-287F-43E1-8380-7CF792A7FE9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB480D63-C79B-4E1B-A4CB-7BB839B5A539</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB480D63-C79B-4E1B-A4CB-7BB839B5A539</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B1C51158-7234-43A3-94A0-8006F4388F5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D47A3F59-9ECA-48D0-9A61-7B559E9EA7A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6815E6-601D-4507-8911-DB4C68D96DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E32A5968-A53E-49A6-805D-9CA05BE60BDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6815E6-601D-4507-8911-DB4C68D96DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8C8F407-2821-4A4E-902E-3D6B58648057</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6815E6-601D-4507-8911-DB4C68D96DBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FAB85A5B-C66E-46A0-A2CB-06EA8852E590</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B89983B-B77A-4B9C-A813-3F077219E15C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC6B055A-D686-4E8F-93FA-3F2756565FEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>492E4749-88F2-46BC-A846-A6EF34121962</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC86CA91-DA9F-4F8A-AFF8-02D0B2D43D7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B78E256-3CB5-40FD-A40A-43436919DCC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vincent Oostindie</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Vincent's Productivity Suite</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a area focus $*</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/focus-area</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B1C51158-7234-43A3-94A0-8006F4388F5F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>A</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CA31C553-287F-43E1-8380-7CF792A7FE9B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>focus</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a area list
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-areas</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Focus on area of responsiblity {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CB480D63-C79B-4E1B-A4CB-7BB839B5A539</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>25862486-DB87-4D99-8A2F-270DF2ED344B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>492E4749-88F2-46BC-A846-A6EF34121962</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>note</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Create a new note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>25F37FFD-0AC5-47B1-98CC-0526E2732384</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps note plain $*</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC6B055A-D686-4E8F-93FA-3F2756565FEA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a project commands
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-omnifocus-project-actions</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E32A5968-A53E-49A6-805D-9CA05BE60BDF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>project</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a project list
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-omnifocus-projects</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select project {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>38C9FA7B-DC38-4F1C-A1F5-D51CF9964759</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FC86CA91-DA9F-4F8A-AFF8-02D0B2D43D7B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:TRIGGERED_AS_SNIPPET}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>snippet</string>
						<key>uid</key>
						<string>14A29F98-5C82-4067-8CA8-1579021C90F2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>command</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>19A1C1A7-8B05-44A8-8700-C87E81B7ECB5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>TRIGGERED_AS_SNIPPET</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8B78E256-3CB5-40FD-A40A-43436919DCC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>p</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>8F77D1C9-C5B7-438A-BAFF-6FDE7BECFE38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps $*</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E6815E6-601D-4507-8911-DB4C68D96DBB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6F1E821E-BF71-4D08-8D82-C0CD10D138CF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>TRIGGERED_AS_SNIPPET</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>069AA5A0-B5B4-4C2C-A41C-F6597202937B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>contact</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a contact list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-contacts-people</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select address {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1EA1C2CE-E59A-4003-A62F-279C5E0E9B87</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a contact commands
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-omnifocus-project-actions</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D47A3F59-9ECA-48D0-9A61-7B559E9EA7A8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0ED34B50-BB28-4DAF-83CF-6431B7340FD1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:TRIGGERED_AS_SNIPPET}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>snippet</string>
						<key>uid</key>
						<string>A4A88991-1E1B-4681-AFD9-8A4B6CB6063D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>command</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>88E6859F-DDAF-4711-95D0-FB44354A461D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>TRIGGERED_AS_SNIPPET</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>6CF126FC-D8C1-4E36-A9BD-C398801C6E27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>c</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>ADE417A6-3768-436F-B3B6-181614AA540D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>TRIGGERED_AS_SNIPPET</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>141255DE-26A7-4A0A-91D9-4D46C4924504</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6875C4C0-6D56-45D4-8E13-FF83B9F33944</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>event</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a event list</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-contacts-people</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select event {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>22D4F09F-F01A-478C-BE58-D38C10C03D5D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a event commands
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-omnifocus-project-actions</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>14C7E1CD-8B7B-4BAF-B0E8-A69297B603A4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>11</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>B</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FAB85A5B-C66E-46A0-A2CB-06EA8852E590</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>browse</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a file browse</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-contacts-people</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Browse area files</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3B89983B-B77A-4B9C-A813-3F077219E15C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Find {var:FINDER} notes</string>
				<key>text</key>
				<string>Find notes...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8DA06A07-6581-4E7C-BED0-32CC97132209</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>B8F0AC10-7E4E-4E4D-B7B6-10052FBC6122</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>find</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>PATH=$RUBY_PATH:$PATH
ruby exe/vps -a note finders
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bin/list-areas</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find notes for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8B07D568-E3E7-4988-BA11-0E36C7BFDD1E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>FINDER</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>327408B1-4CBC-4215-B2C0-C3FEB8D7BA8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>note find {var:FINDER} {query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E8C8F407-2821-4A4E-902E-3D6B58648057</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This is Vincent's Productivity Suite for Alfred.

See the README for more information.</string>
	<key>uidata</key>
	<dict>
		<key>069AA5A0-B5B4-4C2C-A41C-F6597202937B</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>0ED34B50-BB28-4DAF-83CF-6431B7340FD1</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>141255DE-26A7-4A0A-91D9-4D46C4924504</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>14C7E1CD-8B7B-4BAF-B0E8-A69297B603A4</key>
		<dict>
			<key>note</key>
			<string>Lists all available actions for an event</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>855</integer>
		</dict>
		<key>19A1C1A7-8B05-44A8-8700-C87E81B7ECB5</key>
		<dict>
			<key>xpos</key>
			<integer>565</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>1E6815E6-601D-4507-8911-DB4C68D96DBB</key>
		<dict>
			<key>note</key>
			<string>Perform the selected action.</string>
			<key>xpos</key>
			<integer>1000</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>1EA1C2CE-E59A-4003-A62F-279C5E0E9B87</key>
		<dict>
			<key>note</key>
			<string>Lists contacts</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>22D4F09F-F01A-478C-BE58-D38C10C03D5D</key>
		<dict>
			<key>note</key>
			<string>Lists events</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>855</integer>
		</dict>
		<key>25862486-DB87-4D99-8A2F-270DF2ED344B</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>25F37FFD-0AC5-47B1-98CC-0526E2732384</key>
		<dict>
			<key>note</key>
			<string>Create a new note</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>327408B1-4CBC-4215-B2C0-C3FEB8D7BA8D</key>
		<dict>
			<key>xpos</key>
			<integer>605</integer>
			<key>ypos</key>
			<integer>1170</integer>
		</dict>
		<key>38C9FA7B-DC38-4F1C-A1F5-D51CF9964759</key>
		<dict>
			<key>note</key>
			<string>Lists projects</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>3B89983B-B77A-4B9C-A813-3F077219E15C</key>
		<dict>
			<key>note</key>
			<string>Lists events</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>492E4749-88F2-46BC-A846-A6EF34121962</key>
		<dict>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6875C4C0-6D56-45D4-8E13-FF83B9F33944</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>855</integer>
		</dict>
		<key>6CF126FC-D8C1-4E36-A9BD-C398801C6E27</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>630</integer>
		</dict>
		<key>6F1E821E-BF71-4D08-8D82-C0CD10D138CF</key>
		<dict>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>88E6859F-DDAF-4711-95D0-FB44354A461D</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>8B07D568-E3E7-4988-BA11-0E36C7BFDD1E</key>
		<dict>
			<key>note</key>
			<string>Lists note finders</string>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>8B78E256-3CB5-40FD-A40A-43436919DCC7</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>8DA06A07-6581-4E7C-BED0-32CC97132209</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>8F77D1C9-C5B7-438A-BAFF-6FDE7BECFE38</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>ADE417A6-3768-436F-B3B6-181614AA540D</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>B1C51158-7234-43A3-94A0-8006F4388F5F</key>
		<dict>
			<key>note</key>
			<string>Sets focus to an area</string>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>B8F0AC10-7E4E-4E4D-B7B6-10052FBC6122</key>
		<dict>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>1140</integer>
		</dict>
		<key>CA31C553-287F-43E1-8380-7CF792A7FE9B</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>CB480D63-C79B-4E1B-A4CB-7BB839B5A539</key>
		<dict>
			<key>note</key>
			<string>Lists areas of responsibility</string>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D47A3F59-9ECA-48D0-9A61-7B559E9EA7A8</key>
		<dict>
			<key>note</key>
			<string>Lists all available actions for an address</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>E32A5968-A53E-49A6-805D-9CA05BE60BDF</key>
		<dict>
			<key>note</key>
			<string>Lists all available actions for a project</string>
			<key>xpos</key>
			<integer>745</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>E8C8F407-2821-4A4E-902E-3D6B58648057</key>
		<dict>
			<key>xpos</key>
			<integer>915</integer>
			<key>ypos</key>
			<integer>1170</integer>
		</dict>
		<key>FAB85A5B-C66E-46A0-A2CB-06EA8852E590</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>990</integer>
		</dict>
		<key>FC6B055A-D686-4E8F-93FA-3F2756565FEA</key>
		<dict>
			<key>xpos</key>
			<integer>750</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>FC86CA91-DA9F-4F8A-AFF8-02D0B2D43D7B</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>RUBY_PATH</key>
		<string>/Users/vincent/.rbenv/shims</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>RUBY_PATH</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>www.ulso.nl</string>
</dict>
</plist>
